<div class="mt-8">
  <h2>Blog</h2>
  <div>
    <% @posts.each_with_index do |(year, posts), index| %>
      <details <%= "open" if index.zero? %> class="mt-4">
        <summary><%= year %></summary>

        <ul>
          <% posts.each do |post| %>
            <li><%= Date.parse(post["published_at"]).strftime("%d %b %Y") %> – <a href="/<%= post["slug"] %>"><%= post["title"] %></a></li>
          <% end %>
        </ul>
      </details>
    <% end %>
  </div>
</div>

<div class="mt-8">
  <h2>Hashtags</h2>
  <div class="flex flex-wrap gap-2">
    <% @hashtags.each do |hashtag| %>
      <a href="/tags/<%= hashtag['name'] %>">#<%= hashtag['name'] %></a>
    <% end %>
  </div>
</div>
